<div class="blockquote">
The goal of reducing or eliminating the need to manually map and/or transfer 
memory variables to and from table fields and to and from the UI (screens). 
(This process should be invisible to the programmer regardless of the fact that 
internal implementation usually uses memory-based copies.)
<div class="reference">
	<i><a href="https://web.archive.org/web/20121024051826/http://www.geocities.com/tablizer/top.htm">Table-Oriented Programming</a></i>, Tablizer/TOPMind, 1998-2002
</div>
</div>

<p>Another feature that is invisible to the programmer, but saves lots of 
work.</p>

<p>Here it also becomes clear that TOP also requires UI support.  Raku again 
doesn't support this out-of-the-box.  Various UIs have been added, but these UIs 
don't have consistent interfaces (eg. a curses-based form can't be turned into a 
HTML form with minimal effort).</p>

<p>This would require another set of language features -- forms and reports.</p>
