<div class="title">Memory-Mapping Reduction</div>

<p>Findy Services and B. Jacobs believed that:</p>

<div class="blockquote">
...current implementations of OOP tend to
be much more memory-centric than TOP (collections presumed
to reside fully in memory instead of disk), however, this
appears to be out of tradition rather than an inherent
aspect of OOP.

<div class="reference">
        <i><a href="https://web.archive.org/web/20121024051826/http://www.geocities.com/tablizer/top.htm">Table-Oriented Programming</a></i>, Findy Services and B. Jacobs, 1998-2002
</div>
</div>

<p>Their preference, as opposed to a memory-centric approach, was to have a 
unified approach that was the same whether information was stored on memory, or 
on disk, or whatever.  </p>

<div class="blockquote">

<div class="reference">
        <i><a href="https://web.archive.org/web/20121024051826/http://www.geocities.com/tablizer/top.htm">Table-Oriented Programming</a></i>, Findy Services and B. Jacobs, 1998-2002
</div>

</div>
