@property --blockquote-background-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #ffffee;
}

@property --blockquote-border-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #eede8c;
}

@property --th-background-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #efcf00;
}

body {
	--blockquote-background-color: #ffffee;
	--blockquote-border-color: #eede8c;
	--th-background-color: #efcf00;
}

div.notfirst {
	padding-top: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Quattrocento", serif;
	font-optical-sizing: auto;
	font-weight: 700;
}

h1 code, h2 code, h3 code {
	font-size: 1.1em;
}

/* Positions headings so they're not behind the menubar */
.pre-heading {
	position: relative;
	top: -50px;
	z-index: 1;
}

.heading-link {
	text-decoration: none;
}

a:hover.heading-link  {
	text-decoration: underline;
}

h1, h2, h3 {
	padding: 10pt;
	border-top-width: 4pt;
	border-top-style: solid;
}

h1 {
	background-color: #ffeeee;
	border-top-color: #bf5f5f;

	text-align: center;
	font-weight: 900;
}

h2 {
	background-color: #efffef;
	border-top-color: #5fbf5f;

	font-weight: 900;
}
h3 {
	background-color: #eff7ff;
	border-top-color: #5f8fbf;
}

h4, h5, h6 {
	font-family: "Dosis", sans;
	font-optical-sizing: auto;
	font-weight: 700;
}
h4 {	font-size: 1.5em;	}
h5 {	font-size: 1.17em;	}
h6 {	font-size: 1em;	}
h4 code { font-size: 1.2em; }
h5 code { font-size: 1em; }
h6 code { font-size: 0.8em; }

.blockquote h1,
.blockquote h2,
.blockquote h3,
.blockquote h4,
.blockquote h5,
.blockquote h6
{
/*	background-color: transparent;
	padding: inherit; */
}

.title {
	font-family: "Urbanist", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: bold;
	font-size: 48pt;
	text-align: center;

	margin-top: 24pt;
	margin-bottom: 24pt;
}

.blockquote {
	font-family: "Forum", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	padding: 10pt;

	background-color: var(--blockquote-background-color);
	border-radius: 4pt;
	border-color: var(--blockquote-border-color);
	border-style: solid;
	border-width: 1pt;
}

.blockquote > b {
	font-weight: 900;
}

/* First paragraph in a blockquote should have no top-margin */
.blockquote > p:first-child {
	margin-top: 0;
}

.reference {
	margin-top: 5pt;
}
.reference::before {
	content: "\2014 ";
}

.tagline {
	text-align: right;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

.references-reference {
	font-size: -10%;
	margin: 0 10pt;
}

table {
	margin: auto;
}

table:not(.table-special-background) tr:nth-child(even) {
	background-color: #eeeeee;
}

th, td {
	padding: 2pt;
}

th {
	background-color: var(--th-background-color);
	text-align: center;
}

.blockquote tr:nth-child(even) {
	background-color: #ffffdd;
}

td ul {
	margin: 0;
	padding-left: 10pt;
}

th h2, th h3, th h4 {
	margin: 0px;
}

pre {
	color: #7f3f00;
	background-color: #ffffdd;
	text-align: left;

	border-radius: 4pt;
	border-color: #eede8c;
	border-style: solid;
	border-width: 1pt;

	padding: 10pt;
}

code {
	white-space: pre;

	font-family: "Courier Prime", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 10pt;
}
code.block {
	display: block;
	overflow-y: scroll;
	padding: 10pt;
	border: 1px solid #cccccc;
}

.blockquote .sidebar {
	float:right;
	position: relative;
	width: 25%;
	background-color:#ffffdd;
	padding: 10pt;
	margin-left: 10pt;
}

.smallquote {
	background-color: var(--blockquote-background-color);
	border-radius: 4pt;
	border-color: var(--blockquote-border-color);
	border-style: solid;
	border-width: 1pt;
}

/* Code for CSS hover text */
.hover-parent {
	position: relative;
	display: inline;
}

.hover-anchor {
	color: blue;
	text-decoration: underline;
}

.hover-anchor:hover + .hover-text {
	display: block;
}

.hover-text:hover {
	display: block;
}

.hover-text {
	z-index: 1;
	position: absolute;
	display: none;

	width: 400px;
	left: 10pt;
	top: 0pt;
	border: 2px solid var(--blockquote-border-color);
	border-radius: 4pt;
	padding: 10px;

	background-color: var(--blockquote-background-color);
}

/* SVG hover, etc */
svg text {
	pointer-events: auto;
	fill: blue;
} 
svg text:hover {
	pointer-events: auto;
	fill: red;
} 

/* Scrollable table content 

wasn't able to get the headings and body to line up while doing this. (at least not on the language analogy page)
*/

tbody.scrollContent {
	height: 262px;
	overflow-y: scroll;
}


.not-implemented::before {
	content: "⚠ Not implemented yet";
	color: #ff7f00;
	display: block;
}
.not-implemented {
	background-color: #ffeedd;
	padding: 4pt;
}
