@media screen and (max-width: 1000px) {
	#table-of-contents {
		display: none;
	}
}

@media screen and (min-width: 1000px) {
	#table-of-contents {
		display: block;
		z-index: 1;
/*		margin-top: 20pt; */
/*		border-width: 1px;
		border-radius: 4pt;
		border-color: var(--blockquote-border-color);
		border-style: solid; */
/*		background-color: #f2f2f2; */
/*		padding-left: 5pt; */

		grid-column-start: 1;
	}

	#table-of-contents ul {
		list-style-type: none;	
		margin: 0;
		padding-left: 5pt;
		text-align: left;
	}

	#table-of-contents ul li {
		padding: 6pt 0pt;
	}

	#table-of-contents ul li a {
		color: black;
	}

	#table-of-contents ul li a:link {
		text-decoration-style: dotted;
	}

	#table-of-contents ul li a:visited {
		text-decoration-style: dashed;
	}

	#table-of-contents ul li a:hover {
		text-decoration-style: solid;
	}
}

.left-column, .right-column {
	margin: 4pt;
	overflow-y: scroll;
}

.left-column ul {
/*	list-style-type: none;	 */
	padding: 5pt;
}
