<div class="blockquote">
<ul>
<li> 6. Support for high, medium, and low formality tables.
 Other languages usually give you only one
way to deal with tables and assume tables are either large and formal, or small and featureless.
<p>
<li> 8. Field variables can be referenced easily without converting back and forth between memory variables and actual table fields. An example might be "$amount = $rate * hours" where the $ sign marks field variables ("hours" is a memory variable). Note that a "with"-like structure may make the table reference unnecessary; however, an optional table reference should be permitted. Example: "x = mytable$amount".
<p>
</ul>
<div class="reference">
	<i><a href="https://web.archive.org/web/20121024051826/http://www.geocities.com/tablizer/top.htm">Table-Oriented Programming</a></i>, Tablizer/TOPMind, 1998-2002
</div>
</div>
