<html>
<head>
<title>Table-Oriented Programming (TOP)</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dosis:wght@200..800&family=Forum&family=Quattrocento:wght@400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<base href="<? $docroot ?>">

<link rel="stylesheet" href="TOP.css"/>

</head>
<body>

<div class="wide-box">
<div class="navbar"><ul>
<?
	my $out = '';
	foreach $menu (@$structure) {
		$out .= include('src/templates/menu.html', HASH => { menu => $menu });
	}

	$out . "foo";
?>	
</ul></div>
</div>

<div class="main-box">


<? include($source) ?>

</div>

<p/>

<? $footer = set_footer($dest); ""; ?>

<div class="wide-box">
<div class="footer">
	<span class="left"><? include_footer('menu-item.html', 'previous', $footer->{previous}) ?></span>
	<span class="centre">-</span>
	<span class="right"><? include_footer('menu-item.html', 'next', $footer->{next}) ?></span>
</div>
<div class="copyright">© Copyright Tim Nelson, 2024</div>
</div>


</body>
</html>
