<# $footer = set_footer($dest); ""; #>
<html>
<head>
<title><# $footer->{title} #> :: Table-Oriented Programming (TOP)</title>
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dosis:wght@200..800&family=Forum&family=Noto+Emoji:wght@300..700&family=Quattrocento:wght@400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
</script>

<script type="text/javascript">
<!--
$(document).ready(function() {
	$("h1,h2").each(function(i) {
		var heading = $(this);
		if(heading.attr('id')) {
			var headingId = heading.attr("id");
			heading.wrap('<a class="heading-link" href="' + window.location.href + '#' + headingId + '"></a>');
			var fontstring = "'Noto Emoji'";
			heading.append(' <span style="font-family: ' + fontstring + '">⚓</span>');
		}
	});
})
-->
</script>

<!-- Links and stylesheet -->
<base href="<# $docroot #>">

<link rel="stylesheet" href="TOP.css"/>

</head>
<body>

<div class="wide-box">
<div class="navbar"><ul>
<#
	my $out = '';
	foreach $menu (@$structure) {
		$out .= include('src/templates/menu.html', HASH => { menu => $menu });
	}

	$out;
#>	
</ul></div>
</div>

<div class="main-box">

<div class="title"><# $footer->{title} #></div>

<# include($source) #>

</div>

<p/>

<div class="wide-box">
<div class="footer">
	<span class="left"><# include_footer('menu-item.html', 'previous', $footer->{previous}) #></span>
	<span class="centre">-</span>
	<span class="right"><# include_footer('menu-item.html', 'next', $footer->{next}) #></span>
</div>
<p/>
<div class="copyright">© Copyright Tim Nelson, 2024</div>
</div>
<p/>

</body>
</html>
