<h1>Overview</h1>

<p>Table-friendly syntax includes supporting collections (tables and views) as 
first-class citizens.  </p>

<p>The main collection classes/roles are:</p>
<ul>
	<li><b><a href="Collection-Convergence/Tableish.html">role Tableish</a>:</b> 
		Implements everything common to Tables and Views</li>
	<li><b><a href="Language-Support/Table.html">class Table</a>:</b> A set of 
		named columns and unnamed rows; like an SQL table, but with multiple 
		possible backends</li> 
	<li><b><a href="Language-Support/View.html">class View</a>:</b> Like an SQL 
		view, but local, and an object</li>
</ul>
