@property --menu-bar-background-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #333;	
}

@property --menu-bar-background-color-hover {
	syntax: "<color>";
	inherits: false;
	initial-value: #4f4f4f;
}

@property --wide-box-width {
	syntax: "<dimension>";
	inherits: false;
	initial-value: 1000px;
}

@property --wide-box-padding {
	syntax: "<dimension>";
	inherits: false;
	initial-value: 3rem;
}

body {
	--wide-box-width: 1000px;
	--wide-box-padding: 3rem;
	--menu-bar-background-color: #333;
	--menu-bar-background-color-hover: #4f4f4f;

	font-family: "Crimson Text", serif;
	font-weight: 400;
	font-style: normal;
	text-align: justify;
	text-justify: inter-word;

	margin: 0pt;
}

.main-box {
	margin-right: 0;
	right: 0;
	
	overflow: auto;
	padding-right: 20pt;
	max-height: 98%;
	
	grid-area: main;
}

.wide-box {
	position: fixed;
	top:        0;
	bottom:     0;
	overflow:   hidden;
	background: white;
	min-height: 100vh;

	display: grid;
}

.main-column {
	overflow:   hidden;
	display: grid;
	min-height: 100vh;
	grid-template-rows: min-content auto min-content min-content;
	grid-template-areas:
		"sitemenu"
		"main"
		"footer"
		"copyright";
}

@media (min-width: 1000px) {
	.wide-box {
/*		width: var(--wide-box-width); */
		padding: 3rem;
		width: 100%;
		max-width: 1400px;

		/* Weird centring trick */
		left: 50%;
		transform: translateX(-50%);

		margin: auto;

		grid-template-columns: 15% 70% 15%;
		grid-template-areas:
			"left-column"
			"main-column"
			"right-column";
	}

	.wide-box.huge {
 		width: 100%;
		grid-template-columns: 10% 90%;
	}


	.left-column #site-contents > li {
		list-style-type: none;
		text-align: center;
		font-weight: bold;
	}
}

@media screen and (max-width: 1000px) {
	.main-box {
		grid-template-columns: 100%;
	}

	.left-column {
		display: none;
	}

	.right-column {
		display: none;
	}
}

.tab-widget {
	padding: 6pt;
}

.tab-header {
	border-bottom: 1pt solid var(--menu-bar-background-color);
	padding: 1rem;
	display: inline-block;
}

.tab-headers {
	margin-bottom: 1rem;
}

.tab-body {
	padding: 1rem;
	background-color: #f2f2f2;
}

/* Code for CSS menus */
.menu-bar {
	z-index: 2;
	grid-area: sitemenu;
}

.menu-bar ul {
	top: 0;
	width: 100%;
	height: fit-content; 

	margin: 0;
	padding: 0;

	list-style-type: none;
	background-color: var(--menu-bar-background-color);
}

.menu-bar li a, .menu-bar .menu-bar-button {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu-bar li a:hover, .menu-bar :is(.menu-container:hover, .dropmenu-container.hover) .menu-bar .menu-bar-button {
	background-color: var(--menu-bar-background-color-hover);
}

.menu-bar :is(span.menu-container, li.dropmenu-container) {
	display: inline-block;
}


.menu-bar .menu-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.menu-bar .menu-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border-radius: 4pt;
}

.menu-bar .menu-content a:hover {
	border-radius: 4pt;
	background-color: #f1f1f1;
}

.menu-bar .menu-container:hover .menu-content {
	display: block;
}

/* Drop menu */
.menu-bar .dropmenu-content {
	background-color: var(--menu-bar-background-color);
	display: none;
}
.menu-bar .menu-content.dropmenu-content a.menu-bar-button {
	color: white;
}
.menu-bar .dropmenu-content a.menu-bar-button:hover {
	background-color: var(--menu-bar-background-color-hover);
}

.menu-bar .dropmenu-container:hover .dropmenu-content .menu-content { /* menu from dropmenu */
	/*display: none;*/
}

.menu-bar .dropmenu-content is:(.menu:hover, .dropmenu-container:hover) .menu-content { /* When hovering over menubar item */
	display: block;
}
.menu-bar :is(.menu-container, .dropmenu-container) .dropmenu-content:hover .menu-content {
}
.menu-bar .dropmenu-container:hover .dropmenu-content {
	display: flex;
	position: absolute;
	left: 0;
	z-index: 2;
/*	width: 100%; */
}


.menu-bar .menu-subheader {
	font-weight: 900;
	font-size: 130%;
	background-color: #bfbfbf;
	padding: 4pt 4pt;

	display: inline-block;
	width: 100%;
	border-radius: 4pt;
}

.menu-bar section {
	/* padding: <vertical> <horizontal> */
	margin: 0px 16px;
}

.menu-bar .unimportant {
	background-color: #7fbfff;
}

.menu-bar a:hover.unimportant {
	background-color: #dfefff;
}

/* Code for footer */

.footer {
	display: flex;
	justify-content: space-between;
	background-color: #333;
	color: white;
	grid-area: footer;
}

.footer span {
	flex: 1;
	padding: 14px 2px;
}

.footer a {
	color: white;
	padding: 10px 16px;
/*	border: 1px solid red; */
}

.footer a:hover {
	background-color: #7f7f7f;
	border-radius: 4pt;
}

.footer .centre {
	text-align: center;
	margin: auto;
}

.footer .right {
	text-align: right;
}

.copyright {
	text-align: center;
	grid-area: copyright;
}
