<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="210mm"
   height="130mm"
   viewBox="0 0 210 130"
   version="1.1"
   id="svg5"
   inkscape:version="1.2.1 (9c6d41e410, 2022-07-14)"
   sodipodi:docname="Tablish.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     inkscape:document-units="mm"
     showgrid="false"
     inkscape:zoom="1.6177381"
     inkscape:cx="396.85039"
     inkscape:cy="245.40437"
     inkscape:window-width="1920"
     inkscape:window-height="1015"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer2" />
  <defs
     id="defs2" />
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="Background"
     sodipodi:insensitive="true">
    <polygon
       fill="#ffffff"
       stroke="transparent"
       points="-4,4 -4,-328 299.04,-328 299.04,4 "
       id="polygon156"
       transform="matrix(0.6369984,0,0,0.34652361,6.1469347,117.28791)"
       style="stroke:#ff0606;stroke-width:0;stroke-dasharray:none;stroke-opacity:1" />
  </g>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <g
       id="node5"
       class="node"
       transform="matrix(0.64166991,0,0,0.64166991,17.628627,198.5714)">
      <title
         id="title229">Positional</title>
      <g
         id="a_node5">
        <a
           xlink:href="/type/Positional"
           xlink:title="Positional"
           id="a235" />
      </g>
    </g>
    <g
       id="g9733"
       transform="matrix(0.90357941,0,0,0.90357941,10.951511,-64.960194)">
      <g
         id="node1"
         class="node"
         transform="matrix(0.64166991,0,0,0.64166991,-20.775067,198.5714)">
        <title
           id="title158">Table</title>
        <g
           id="a_node1"><a
   xlink:href=""
   id="a12707" />
    <a
       xlink:href="<# $docroot #>Language-Support/Table.html"
       xlink:title="Table"
       id="a218">
            <ellipse
   fill="none"
   stroke="#000000"
   cx="132.55"
   cy="-18"
   rx="35.189999"
   ry="18"
   id="ellipse160" />
<text
   text-anchor="middle"
   x="132.55"
   y="-14.3"
   font-family="FreeSans"
   font-size="14px"
   fill="#000000"
   id="text162">Table</text>
</g>
      </g>
    </g>
    <g
       id="node7"
       class="node"
       transform="matrix(0.57979972,0,0,0.57979972,22.338006,113.26948)">
      <title
         id="title168">Tablish</title>
      <g
         id="a_node7"><a
   xlink:href=""
   id="a12715" />
    <a
       xlink:href="<# $docroot #>Collection-Convergence/Introduction/"
       xlink:title="Tablish"
       id="a218">
            <ellipse
   fill="none"
   stroke="#000000"
   cx="132.55"
   cy="-90"
   rx="27"
   ry="18"
   id="ellipse170" />
<text
   text-anchor="middle"
   x="132.55"
   y="-86.300003"
   font-family="FreeSans"
   font-size="14px"
   fill="#000000"
   id="text172">Tablish</text>
</g>
    </g>
  </g>
  <g
     id="g1525"
     transform="matrix(0.90357941,0,0,0.90357941,16.68924,-80.260806)">
    <path
       fill="none"
       stroke="#000000"
       d="M 67.49239,193.73347 82.772077,166.66366"
       id="path180"
       style="stroke-width:0.64167"
       sodipodi:nodetypes="cc" />
    <polygon
       fill="#000000"
       stroke="#000000"
       points="132.55,-71.9 136.05,-61.9 129.05,-61.9 "
       id="polygon182"
       transform="matrix(0.55699249,0.31859009,-0.31859009,0.55699249,-14.252198,165.25269)" />
  </g>
  <g
     id="a_node4"
     transform="matrix(0.57979972,0,0,0.57979972,15.883061,112.79133)">
    <a
       xlink:href="https://docs.raku.org/type/Associative"
       xlink:title="Associative"
       id="a218">
      <ellipse
         fill="none"
         stroke="#000000"
         cx="30.549999"
         cy="-162"
         rx="45.434082"
         ry="18"
         id="ellipse214" />
      <text
         text-anchor="middle"
         x="30.549999"
         y="-158.3"
         font-family="FreeSans"
         font-size="14px"
         fill="#000000"
         id="text216">Associative</text>
    </a>
  </g>
  <g
     id="g12758"
     transform="matrix(0.90357941,0,0,0.90357941,6.4091419,-66.155555)">
    <a
       xlink:href="https://docs.raku.org/type/Positional"
       xlink:title="Positional"
       id="a12731">
      <ellipse
         fill="none"
         stroke="#6666ff"
         cx="132.55"
         cy="-162"
         rx="53.889999"
         ry="18"
         id="ellipse231"
         style="stroke:#000000;stroke-opacity:1"
         transform="matrix(0.64166991,0,0,0.64166991,17.628627,198.5714)" />
      <text
         text-anchor="middle"
         x="132.55"
         y="-158.3"
         font-family="FreeSans"
         font-size="14px"
         id="text233"
         transform="matrix(0.64166991,0,0,0.64166991,17.628627,198.5714)">Positional</text>
    </a>
    <g
       id="node6"
       class="node"
       transform="matrix(0.64166991,0,0,0.64166991,17.628627,198.5714)">
      <title
         id="title239">Iterable</title>
      <g
         id="a_node6">
        <a
           xlink:href="https://docs.raku.org/type/Iterable"
           xlink:title="Iterable"
           id="a245">
          <ellipse
             fill="none"
             stroke="#6666ff"
             cx="249.55"
             cy="-162"
             rx="45.490002"
             ry="18"
             id="ellipse241"
             style="stroke:#000000;stroke-opacity:1" />
          <text
             text-anchor="middle"
             x="249.55"
             y="-158.3"
             font-family="FreeSans"
             font-size="14px"
             id="text243">Iterable</text>
        </a>
      </g>
    </g>
    <g
       id="edge4"
       class="edge"
       transform="matrix(0.64166991,0,0,0.64166991,17.628627,198.5714)">
      <title
         id="title249">List-Associative</title>
      <path
         fill="none"
         stroke="#000000"
         d="m 114.31,-103.51 c -15.66,-10.75 -38.46,-26.4 -56.33,-38.66"
         id="path251" />
      <polygon
         fill="#000000"
         stroke="#000000"
         points="59.89,-145.11 55.93,-139.34 49.66,-147.88 "
         id="polygon253" />
    </g>
    <g
       id="edge5"
       class="edge"
       transform="matrix(0.64166991,0,0,0.64166991,17.628627,198.5714)">
      <title
         id="title256">List-Positional</title>
      <path
         fill="none"
         stroke="#6666ff"
         d="m 132.55,-108.3 c 0,-7.72 0,-16.99 0,-25.59"
         id="path258"
         style="stroke:#04040a;stroke-opacity:1" />
      <polygon
         fill="#6666ff"
         stroke="#6666ff"
         points="136.05,-133.9 129.05,-133.9 132.55,-143.9 "
         id="polygon260"
         style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-opacity:1" />
    </g>
    <g
       id="edge6"
       class="edge"
       transform="matrix(0.64166991,0,0,0.64166991,17.628627,198.5714)"
       style="stroke-width:1.00051;stroke-dasharray:none">
      <title
         id="title263">List-Iterable</title>
      <path
         fill="none"
         stroke="#6666ff"
         d="m 152.13,-102.72 c 17.57,-10.51 43.7,-26.14 64.48,-38.57"
         id="path265"
         style="stroke:#000000;stroke-width:1.00051;stroke-dasharray:none;stroke-opacity:1" />
      <polygon
         fill="#6666ff"
         stroke="#6666ff"
         points="218.65,-138.44 215.06,-144.45 225.44,-146.58 "
         id="polygon267"
         style="fill:#030307;fill-opacity:1;stroke:#010103;stroke-width:1.00051;stroke-dasharray:none;stroke-opacity:1" />
    </g>
    <g
       id="node1-6"
       class="node"
       transform="matrix(0.64166991,0,0,0.64166991,52.224933,198.51053)">
      <title
         id="title158-2">View</title>
      <g
         id="a_node1-9"><a
   xlink:href=""
   id="a12752" />
    <a
       xlink:href="<# $docroot #>Language-Support/View.html"
       xlink:title="View"
       id="a12731">
            <ellipse
   fill="none"
   stroke="#000000"
   cx="132.55"
   cy="-18"
   rx="35.189999"
   ry="18"
   id="ellipse160-2" />
<text
   text-anchor="middle"
   x="132.55"
   y="-14.3"
   font-family="FreeSans"
   font-size="14px"
   fill="#000000"
   id="text162-7">View</text>
</g>
    </g>
  </g>
  <g
     id="g1531"
     transform="matrix(0.90357941,0,0,0.90357941,16.68924,-80.260806)">
    <path
       fill="none"
       stroke="#000000"
       d="M 114.83689,192.18076 101.60772,165.97085"
       id="path180-3"
       style="stroke-width:0.64167"
       sodipodi:nodetypes="cc" />
    <polygon
       fill="#000000"
       stroke="#000000"
       points="136.05,-61.9 129.05,-61.9 132.55,-71.9 "
       id="polygon182-6"
       transform="matrix(0.57450347,-0.28580769,0.28580769,0.57450347,46.34725,245.66285)" />
  </g>
</svg>
