@property --blockquote-background-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #ffffee;
}

@property --blockquote-border-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #eede8c;
}

@property --th-background-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #efcf00;
}

body {
	--blockquote-background-color: #ffffee;
	--blockquote-border-color: #eede8c;
	--th-background-color: #efcf00;

	font-family: "Crimson Text", serif;
	font-weight: 400;
	font-style: normal;
	text-align: justify;
	text-justify: inter-word;

	margin: 0pt;
}

.main-box {
	margin-right: 0;
	right: 0;
	
	overflow: auto;
	padding: 0 5pt;
	max-height: 98%;
	
	grid-column-start: 2;
	grid-row-start: 2;
}

div.notfirst {
	padding-top: 0;
}

.wide-box {
	position: fixed;
	top:        0;
	bottom:     0;
	overflow:   hidden;
	background: white;
	left: 25%;
	width: 1000px;

	margin: auto;
	display: grid;
	
	grid-template-columns: 25% 75%;
/*	grid-template-rows: 100px 200px 100px; */

	grid-template-areas:
		"sitemenu sitemenu"
		"docmenu main main"
		"footer footer";
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Quattrocento", serif;
	font-optical-sizing: auto;
	font-weight: 700;
}

/* Positions headings so they're not behind the menubar */
.pre-heading {
	position: relative;
	top: -50px;
	z-index: 1;
}

.heading-link {
	text-decoration: none;
}

a:hover.heading-link  {
	text-decoration: underline;
}

h1, h2, h3 {
	padding: 10pt;
}

h1 {
	text-align: center;
	background-color: #ffeeee;
}

h2 {	background-color: #efffef;	}
h3 {	background-color: #eff7ff;	}

.blockquote h1,
.blockquote h2,
.blockquote h3,
.blockquote h4,
.blockquote h5,
.blockquote h6
{
	background-color: transparent;
/*	padding: inherit; */
}

.title {
	font-family: "Urbanist", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: bold;
	font-size: 48pt;
	text-align: center;

	margin-top: 24pt;
	margin-bottom: 24pt;
}

.blockquote {
	font-family: "Forum", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	padding: 10pt;

	background-color: var(--blockquote-background-color);
	border-radius: 4pt;
	border-color: var(--blockquote-border-color);
	border-style: solid;
	border-width: 1pt;
}

.blockquote > b {
	font-weight: 900;
}

/* First paragraph in a blockquote should have no top-margin */
.blockquote > p:first-child {
	margin-top: 0;
}

.reference {
	margin-top: 5pt;
}
.reference::before {
	content: "\2014 ";
}

.tagline {
	text-align: right;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

table {
	margin: auto;
}

tr:nth-child(even) {
	background-color: #eeeeee;
}

th, td {
	padding: 2pt;
}

th {
	background-color: var(--th-background-color);
}

.blockquote tr:nth-child(even) {
	background-color: #ffffdd;
}

pre {
	color: #7f3f00;
	background-color: #ffffdd;
	text-align: left;

	border-radius: 4pt;
	border-color: #eede8c;
	border-style: solid;
	border-width: 1pt;

	padding: 10pt;
}

code {
	font-family: "Courier Prime", monospace;
	font-weight: 400;
	font-style: normal;

	white-space: pre;
}

.blockquote .sidebar {
	float:right;
	position: relative;
	width: 25%;
	background-color:#ffffdd;
	padding: 10pt;
	margin-left: 10pt;
}

.myth {
	background-color: var(--blockquote-background-color);
	border-radius: 4pt;
	border-color: var(--blockquote-border-color);
	border-style: solid;
	border-width: 1pt;
}

/* Code for CSS dropdown menus */
#table-of-contents {
	z-index: 1;
	margin: 20pt 0;
	padding-left: 5pt;
	background-color: #333;
	
	grid-column-start: 1;
}

#table-of-contents ul {
	list-style-type: none;	
	margin: 0;
	padding-left: 5pt;
	text-align: left;

}

#table-of-contents ul li {
	padding: 6pt 0pt;
}

#table-of-contents ul li a {
	color: white;
}

.navbar {
	z-index: 2;	
}

.navbar ul {
	top: 0;
	width: 1000px;
	height: fit-content; 

	margin: 0;
	padding: 0;

	list-style-type: none;
	background-color: #333;
}

.navbar li a, .navbar .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover, .navbar .dropdown:hover .navbar .dropbtn {
	background-color: #4f4f4f;
}

.navbar li.dropdown {
	display: inline-block;
}

.navbar .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.navbar .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border-radius: 4pt;
}

.navbar .dropdown-content a:hover {
	border-radius: 4pt;
	background-color: #f1f1f1;
}

.navbar .dropdown:hover .dropdown-content {
	display: block;
}

.navbar .dropdown-header {
	font-weight: 900;
	font-size: 130%;
	background-color: #bfbfbf;
	padding: 4pt 4pt;

	display: inline-block;
	width: 100%;
	border-radius: 4pt;
}

.navbar section {
	/* padding: <vertical> <horizontal> */
	margin: 0px 16px;
}

.navbar .unimportant {
	background-color: #7fbfff;
}

.navbar a:hover.unimportant {
	background-color: #dfefff;
}

/* Code for CSS hover text */
.hover-parent {
	display: inline;
}

.hover-anchor {
	color: blue;
	text-decoration: underline;
}

.hover-anchor:hover + .hover-text {
	display: block;
}

.hover-text:hover {
	display: block;
}

.hover-text {
	z-index: 1;
	position: absolute;
	display: none;

	width: 400px;
	margin-left: 36pt;
	margin-top: -14pt;
	border: 2px solid var(--blockquote-border-color);
	border-radius: 4pt;
	padding: 10px;

	background-color: var(--blockquote-background-color);
}

/* Code for footer */

.footer {
	display: flex;
	justify-content: space-between;
	background-color: #333;
	color: white;
	grid-column-start: 1;
	grid-column-end: 3;
}

.footer span {
	flex: 1;
	padding: 14px 2px;
}

.footer a {
	color: white;
	padding: 10px 16px;
/*	border: 1px solid red; */
}

.footer a:hover {
	background-color: #7f7f7f;
	border-radius: 4pt;
}

/*
.footer :link {
	color: #bfbfff;
}

.footer :visited {
	color: #ffbfff;
}
*/
.footer .left {
/*	float: left; */
}

.footer .centre {
	/* display: inline-block; */
	text-align: center;
	margin: auto;
}

.footer .right {
/*	float: right; */
	text-align: right;
}

.copyright {
	text-align: center;
}


/* SVG hover, etc */
svg text {
	pointer-events: auto;
	fill: blue;
} 
svg text:hover {
	pointer-events: auto;
	fill: red;
} 
